/* FAQ Sections */
.arm-fq-bx{
  padding: 5rem;
  @include media-breakpoint-down(md){
    padding: 3rem;
  }
  h4{
    font-family: $FontBody;
    font-weight: 600;
  }
  p{
    line-height: 3rem;
    font-size: 1.6rem;
  }
}
